$font-family: "Source Sans Pro", sans-serif;

$active-opacity: 1;
$inactive-opacity: 0.15;

$white: #fff;
$black: #000;

$dark-teal: #233D4D;

$orange: #54a0ff;
$yellow: #ee5253;
$green: #ff9f43;
$medium-teal: #10ac84;

$spacing: 2rem;
